{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<p>This project is done within the Data Science class, by 10th grade students in their second semester on the high school Tichonet. This project combines mainly two things, being:</p>
<ul>
    <li>Website Development</li>
    <li>Data Science</li>
</ul>
<p>When doing this project I was able to find two databases online and I intent to build around them a website allowing for easy access to them, analyzing them and presenting them to the users more clearly. The website will allow the user to explore the data within the selected subject and try to get to conclusions which are valuable.</p>
<p>The project will be mainly based on the following technological elements:</p>
<ul>
    <li>Python Language</li>
    <li>Pandas Library</li>
    <li>Flask Framework</li>
</ul>
<a href="https://1drv.ms/w/s!AoEYrvevSD1vghH7a3XZzEH4bNsi?e=dom5HN" target="_blank">Specification Document</a> | <a href="https://github.com/danielnaaman/orion" target="_blank">Source Code</a>
{% endblock %}
