{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>{{ title }}</h1>
</div>

<p>This data set details average temperatures across the USA states. It includes just the year of 2015.</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Temperature</th>
            <th scope="col">State</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>The date of observation.</td>
            <td>The temperature in farenhite measurements.</td>
            <td>The state of observation.</td>
        </tr>
    </tbody>
</table>

<center>
    <button class="btn btn-primary" id="toggleExpand" type="button" data-toggle="collapse" data-target="#dataset" aria-expanded="false" aria-controls="dataset">Toggle Preview</button>
    <br />
    <div class="collapse" id="dataset">
        <br />
        <div class="card card-body">
            {{ average_weather_preview | safe}}
        </div>
    </div>
</center>

<script>

</script>

{% endblock %}
