{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<form method=post>
    {{ form.csrf }}
    {{ form.csrf_token }}

    <div class="row">
        <div class="col">
            <div class="form-group">
                {{ form.firstname.label }}
                {{ form.firstname(class_="form-control") }}
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                {{ form.lastname.label }}
                {{ form.lastname(class_="form-control") }}
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class_="form-control") }}
    </div>

    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class_="form-control") }}
    </div>

    <div class="form-group">
        <input class="btn btn-info" type="submit" value="Register">&nbsp;<a href="{{ url_for('login') }}">Already registered?</a>
    </div>
</form>

{% if form.firstname.errors %}
    <span class="text-danger">{% for error in form.firstname.errors %}{{ error }}{% endfor %}</span>
{% endif %}

{% if form.lastname.errors %}
    <span class="text-danger">{% for error in form.lastname.errors %}{{ error }}{% endfor %}</span>
{% endif %}

{% if form.username.errors %}
    <span class="text-danger">{% for error in form.username.errors %}{{ error }}{% endfor %}</span>
{% endif %}

{% if form.password.errors %}
    <span class="text-danger">{% for error in form.password.errors %}{{ error }}{% endfor %}</span>
{% endif %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for message in messages %}
            <span class="text-danger">{{ message[1] }}</span>
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}
